name: build
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: 3.13
      - run: pip install mkdocs
      - run: pip install mkdocs-material
      - run: cp README.md docs/index.md
      - run: sed -i 's/docs\///g' docs/index.md
      - run: mkdocs gh-deploy --force --clean --verbose
