name: build
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - run: pip install mkdocs
      - run: pip install mkdocs-material
      - run: ln -s README.md docs/index.md
      - run: mkdocs gh-deploy --force --clean --verbose
